body{
    margin: 0;
    background-color: black;
    font-size: 10px;
}

.star{
    position: absolute;
    width: .1rem;
    height: .1rem;
    background-color: white;
}

.intro{
    position: absolute;
    top: 45%;
    left: 35%;
    z-index: 1;
    font-family: news-gothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem .1rem rgba(4, 55, 102, 0.5);
    animation: intro 5s ease-out 1s;
    color: rgb(5, 97, 189); /* Color picked from original (1977) video */
    font-size: 400%; 
    opacity: 0;   
}

.logo{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1;
    margin: auto;
    animation: logo 9s ease-out 9s;
    opacity: 0;
}

.logo img{
    width: inherit;
}

p{
    color: #ffd700; /* Hand picked */
}

.board{
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 700;
    transform: perspective(30rem) rotateX(27deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9rem;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50rem;
    width: 50%;
    bottom: 0;
    left: 35%;
}

.board:after{
    position: absolute;
    contain: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
}

.content{
    animation: scroll 100s linear 16s;
    position: absolute;
    top: 100%;
}

.title, .subtitle{
    text-align: center;
    word-spacing: .5rem;
}

/* Animations */
@keyframes intro{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }    
    80%{
        opacity: 1;
    }   
    95%{
        opacity: 0;
    }    
    100%{
        opacity: 0;
    }
}

@keyframes logo{
    0%{
        width: 18rem;
        transform: scale(2.75);
        opacity: 1;
    }
    50%{
        width: 18rem;
        opacity: 0;
    }
    100%{
        widows: 18rem;
        opacity: 0;
        transform: scale(0.1);
    }
}

@keyframes scroll{
    0%{
        top: 100%;
    }
    100%{
        top: -170%;
    }    
}